/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #0d0c0b;
  --input-background-light: #ffffff; /* Light theme input background */
  --input-text-color-light: #333333; /* Light theme input text color */
  --input-text-color-dark: #ffffff;  /* Dark theme input text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1ad4c4;
    --foreground: #e4dddd;
    --input-text-color: var(--input-text-color-dark); /* Dark theme input text color */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background-color: #df9d56;  /* Dark background */
  padding: 10px 20px;  /* Add some space around the navbar */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:flex-start;
  gap: 4%;
  font-size: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--navbar);
  color: var(--navbarText);
  text-align: center;
}

.loginConatiner {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(235, 230, 230, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.formStyle {
  margin-bottom: 20px;
}

.formStyle label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.formStyle input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: var(--input-background);
  color: var(--input-text-color);
}

.formStyle input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.signUpLink {
  color: blue;
  text-align: center;
  padding: 12px;
  font-size: 10px;
}

.signUpLink:hover {
  color:#007bff;
}